<!DOCTYPE html>
<html>

 <head>

 	<link rel="stylesheet" type="text/css" href="css/styleStars.css">
 	<title>NBCsearch</title>

 </head>
 
 <body align="center">

        

              <div id="stars"></div>
	          <div id="stars2"></div>
	          <div id="stars3"></div> 


  <form action="/" method="post" >

       <img src="img/nbc.png" alt="Nouri - Bouhadda - Chakfi" height="100" width="300" style="margin-top: 100px">

   	  <p align="center" id="frm">
   	  	<input type="text" name="term" size="30" id=txt />
        <input type="image" src="img/se.png" alt="Submit" width="35" height="35">
      </p>

  </form>

 </body>

</html>