
	#frm
	{
     
     margin-right: 50%;
     width: 10%;
     background: rgba(254, 254, 254, 0.7);
     padding: 5px;
     border-radius: 15px;
	}
     
    #txt
    {
	 font-family: 'Century Gothic','Futura',san-serif;
	 font-size: 20px;
    }


