<ion-header >
  <section class="wrapper">
 <div id="stars"></div>
 <div id="stars2"></div>
 <div id="stars3"></div>
</section>
</ion-header >

<ion-content class="content-setting" >
<ion-toolbar class="toolbar-setting">

 <ion-title style="color: aliceblue;"> 

 <img src="assets/NBCTeam.png" alt="" width="7%" height="3%" style="margin-top: -10%;margin-left: 1%;">
 
<form action="home2.page.html">
 <ion-item  class="item-setting" >
   <img src="assets/icon/Search-img.png" alt="" slot="start" width="4%" height="4%">
   <ion-input   placeholder="Search..." width="90%" height="13%"></ion-input>
   <ion-button expand="round" width="5%" height="5%" slot="end"> Go </ion-button>
  </ion-item>
</form>
 
  </ion-title>

</ion-toolbar>




</ion-content>